<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="all">
			<directory prefix="unit-test-" suffix=".php">./tests/</directory>
			<file>./tests/after-unit-tests.php</file>
			<exclude>./tests/unit-test-sample.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
