@import "settings";
/**
    Option buttons
 */
.button.select-button {
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    &:hover {
        background-color: #4CAF50;
        opacity: .5;
        color: white;
    }
}
//unselected options
.empty-select-button {
    background-color: #eee;
    color: black;
    &:focus {
        background-color: #eee;
        color:black;
    }
}
.selected-select-button {
    background-color: #4CAF50;
    color: white;
    &:focus {
        background-color: #4CAF50;
        color:white;
    }
}
.submitting-select-button {
    opacity: .5;
}

.button.clear-date-button {
    background: #eee;
    border: 1px solid #cacaca;
    border-left: 0;
    color: #cc4b37;
    &:hover {
        background-color: #cc4b37;
    color: #fefefe;
    }
}
html[dir='rtl'] {
    .button.clear-date-button {
        border: 1px solid #cacaca;
        border-right: 0;
    }
}
.button.delete-button-style {
    background: #eee;
    border: 1px solid #cacaca;
    border-left: 0;
    border-radius: 0;
    color: #cc4b37;
    &:hover {
        background-color: #cc4b37;
        color: #fefefe;
    }
}
html[dir='rtl'] {
    .button.delete-button-style {
        border: 1px solid #cacaca;
        border-right: 0;
        border-radius: 0;
    }
}
/**
    Item details
 */
.item-details-header {
    font-size: 1.7rem;
}
.item-details-header-row {
    margin-bottom:15px;

    .button {
        padding: 0.45em 1em;
    }
    .label {
        font-size: .9rem;
    }
}
//contact quick buttons
.contact-quick-button-number {
    background-color: rgb(63, 114, 155);
    border-radius: 20px;
    color: white;
    padding: 2px 4px;
    font-size: 10px;
    position: absolute;
    top: 0;
    margin-left: 3px;
}
.contact-quick-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap:wrap;
    img {
        width: 20px;
        height: 20px;
    }
}
.contact-quick-button {
    width: min-content;
    position: relative;
    flex: 0 1 100px;
    margin: 5px 0 10px 0;
    p {
        font-size: 12px;
        word-spacing: 100vw;
        margin-bottom: 0;
    }
}
.quick-action-menu a {
    vertical-align: middle;
    img {
        width: 20px;
        height: 20px;
    }
}



/*********************
DT comments and activity
*********************/
#comment-activity-section{
    .button.select-button:hover {
        background-color: #3f729b;
    }
    .selected-select-button {
        background-color: #3f729b;
        :focus {
            background-color: #3f729b;
        }
    }
    li {
        list-style-type: none;
    }

    .tabs-title {
        margin-right: 10px;
        input {
            margin: 0;
        }
        button {
            color: #3f729b;
            font-size: 12px;
        }
    }

    .tabs-content {
        border: none;
    }

    p {
        line-height: 1.4;
    }

    .gravatar {
        img {
            height: 16px;
        }
    }

    #add-comment-button {
        margin-bottom: 0;
        height: 3rem;
        //width: 40px;
        //padding: 0 4px;
    }

    #add-comment-button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .comment-bubble {
        word-wrap: break-word;
        padding-bottom: 2px;
        .comment-text {
            min-height: 1em;
        }
    }

    .comment-controls {
        a {
            font-size: 12px;
        }
        img {
            height: 10px;
        }
        object path {
            fill: red;
        }
    }

    .comment-bubble, .comment-controls {
        text-align: left;
        padding: 0;
        padding-left: 15px;
        margin: 0;
        margin-left: 2em;
    }

    html[dir='rtl'] .comment-bubble, html[dir='rtl'] .comment-controls {
        text-align: right;
        padding: 0;
        padding-right: 15px;
        margin: 0;
        margin-right: 2em;
    }

    .comment-date {
        text-align: right;
        margin-right: 20px;
        font-size:12px;
    }

    .translation-bubble {
        border: 0;
        border-left: 2px solid $dark-gray;
        padding-left: 1em;
        margin: 0 0 0 2em;
    }

    .translate-button {
        font-size: .85em;
        padding: 0 0 0 15px;
        margin: 0 0 0 2em;
    }

    html[dir='rtl'] {
        .translation-bubble {
            border: 0;
            border-right: 2px solid $dark-gray;
            padding-right: 1em;
            margin: 0 2em 0 0;
        }
        .translate-button {
            padding: 0 15px 0 0;
            margin: 0 2em 0 0;
        }
    }

    .activity-block {
        margin-top: 15px;
    }

    .activity-bubble {
        word-wrap: break-word;
        color:gray;
        font-style: italic;
        border-inline-start: 3px solid gainsboro;
        padding-inline-start: 15px;
        margin: 0;
        margin-inline-start: 2em;
        padding-bottom: 2px;
    }

    .revert-activity {
        float: right;
    }
    .revert-arrow-img {
        height: 17px;
        padding-top: 2px;

        margin-right: 15px;
    }


    //add a loading spinner when searching for contacts
    .mentions-input-box textarea.loading-gif {
        background:url('../../../dt-assets/images/ajax-loader.gif') no-repeat 99% 6px;
    }
    //make sure the blue boxes around the @mentions in the textarea are the right sizes
    .mentions-input-box .mentions strong span {
        font-weight: 300;
    }

    #add-comment-section {
        border: 1px solid #dcdcdc;
        border-radius: 3px;
        margin: 0 0 01.06667rem;
        textarea,  select {
            margin-bottom: 0;
            border: none;
        }
        select {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .section-subheader {
            padding-top: .53333rem;
            padding-left: .5rem;
            padding-right: .15rem;
        }
    }
}

.display-fields {
    ul {
        list-style-type: none;
        margin-left: 0;
    }
    img {
        height: 15px;
    }
}

#details-tile {
    .detail-snippet-row {
        display: flex;
        flex-wrap: wrap;
    }
    .detail-snippet {
        display:none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 15px;
        margin-bottom: 5px;
        img {
            margin-right: 3px;
            vertical-align: middle;
            height: 15px;
            width: 15px
        }
        .snippet-field-name {
            font-size: small;
        }
    }
    @media screen and (max-width : #{map-get($breakpoints, medium)}) {
        .detail-snippet {
            max-width: 100%;
        }
    }
}

html[dir="rtl"] {
    .input-group-field {
        text-align: right;
    }
}


/**
Groups
**/

.group-progress-button-wrapper {
    text-align: center;
    flex: 1 0 80px;
}

.group-progress-button {
    text-align:center;
    padding:10px;
    background-color:$primary-color;
    border-radius:5px;
    height:60px;
    width:65px;
}


.members-section {
    border: 1px solid #ccc;
    #empty-members-list-message {
        padding: 10px 10px;
    }
    .member-row {
        padding: 10px 10px;
        display: flex;
        &:hover {
            background-color: rgba(204, 204, 204, 0.5);
        }
        .member-row-actions {
            margin: 0;
            padding: 0 5px;
            color: grey;
        }
        i {
            padding: 0 2px;
        }
    }
}
.members-header {
    button {
        height: 36px;
        width: max-content;
        border: 1px solid #ccc;
        vertical-align: bottom;
        border-bottom: 2px solid white;
        margin-bottom: -1px;
        padding: 5px 10px;
        img {
            margin-left: 2px;
        }
    }
}



.detail-notification-box {
    border: none;
    color: white;
    text-align: center;
    h4 {
        font-weight: bold;
    }
    img {
        margin: 0 10px;
    }
}

.accept-contact .bordered-box{
    background-color: #3F729B;
    .accept-button {
        background-color: #4CAF50;
    }
    .decline-button {
        background-color: #F43636;
    }
    .button {
        margin: 0 10px;
    }
}

select.color-select {
    color: white;
    font-weight: bold;
    border-radius: 10px;
    option {
        background-color: white;
        color: black;
    }
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: white'></polygon></svg>");
    border:none;
    text-shadow: rgba(0, 0, 0, 0.45) 0 0 6px;
}



.bordered-box{
    .section-header {
        display: flex;
    }
    .section-chevron {
        margin-left:auto;
        margin-right:0;
        img {
            vertical-align: middle; width:20px
        }
    }
    .chevron_down {
        display: none;
    }

    &.collapsed {
        .chevron_up {
            display: none;
        }
        .chevron_down {
            display: block;
        }
        .section-body {
            display: none;
        }
    }

}

//don't have typeaheads cover other elements
.typeahead__query {
    z-index: 1 !important;
}

.assigned-to-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .status-square {
        height: 13px;
        width: 13px;
        display: inline-block;
        border-radius: 2px;
    }
    > span {
        margin-right: 10px;
    }
}

#tasks-modal {
  .existing-task-action {
    font-size: 10px;
    color: $primary-color;
    margin: 0 5px;
  }
}
