@import "settings";
/**
    Option buttons
 */
.button.select-button {
    border-radius: .33334rem;
    margin-right: .33334rem;
    margin-bottom: .33334rem;
    &:hover {
        background-color: #4CAF50;
        opacity: .5;
        color: white;
    }
}
//unselected options
.empty-select-button {
    background-color: #eee;
    color: black;
    &:focus {
        background-color: #eee;
        color:black;
    }
}
.selected-select-button {
    background-color: #4CAF50;
    color: white;
    &:focus {
        background-color: #4CAF50;
        color:white;
    }
}
.dt_multi_select {
    .dt-icon {
        margin-right: .33334rem;
    }
}

.submitting-select-button {
    opacity: .5;
}

.button.clear-date-button {
    background: #eee;
    border: 1px solid #cacaca;
    border-left: 0;
    color: #cc4b37;
    &:hover {
        background-color: #cc4b37;
    color: #fefefe;
    }
}
html[dir='rtl'] {
    .button.clear-date-button {
        border: 1px solid #cacaca;
        border-right: 0;
    }
}
.button.delete-button-style {
    background: #eee;
    border: 1px solid #cacaca;
    border-left: 0;
    border-radius: 0;
    color: #cc4b37;
    &:hover {
        background-color: #cc4b37;
        color: #fefefe;
    }
}
html[dir='rtl'] {
    .button.delete-button-style {
        border: 1px solid #cacaca;
        border-right: 0;
        border-radius: 0;
    }
}
/**
    Item details
 */
.item-details-header {
    font-size: 1.7rem;
}
.item-details-header-row {
    margin-bottom: 1rem;

    .button {
        padding: 0.45em 1em;
    }
    .label {
        font-size: .8rem;
    }
}
//contact quick buttons
.contact-quick-button-number {
    background-color: rgb(63, 114, 155);
    border-radius: 1.33334rem;
    color: white;
    padding: .133334rem .26667rem;
    font-size: .8rem;
    position: absolute;
    top: 0;
    margin-left: .2rem;
}
.contact-quick-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap:wrap;
    img {
        width: 1.33334rem;
        height: 1.33334rem;
    }
}
.contact-quick-button {
    width: min-content;
    position: relative;
    flex: 0 1 6.66667rem;
    margin: .3334rem 0  .66667rem 0;
    p {
        font-size: .8rem;
        word-spacing: 100vw;
        margin-bottom: 0;
    }
}
.quick-action-menu a {
    vertical-align: middle;
    img {
        width: 1.33334rem;
        height: 1.33334rem;
    }
}



/*********************
DT comments and activity
*********************/
#comment-activity-section{
    .button.select-button:hover {
        background-color: #3f729b;
    }
    .selected-select-button {
        background-color: #3f729b;
        :focus {
            background-color: #3f729b;
        }
    }
    li {
        list-style-type: none;
    }

    .tabs-title {
        margin-right:  .66667rem;
        input {
            margin: 0;
        }
        button {
            color: #3f729b;
            font-size: .8rem;
        }
    }

    .tabs-content {
        border: none;
    }

    p {
        line-height: 1.4;
    }

    .gravatar {
        img {
            height: 1.0666666667rem;
        }
    }

    #add-comment-button {
        margin-bottom: 0;
        height: 3rem;
    }

    #add-comment-button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .comment-bubble {
        word-wrap: break-word;
        padding-bottom: .133334rem;
        .comment-text {
            min-height: 1em;
        }
    }

    .emoji {
        width: 1.4rem;
        height: 1.4rem;
    }

    .edit-comment-controls {
        a {
            font-size: .8rem;
        }
        img {
            height:  .66667rem;
        }
        object path {
            fill: red;
        }
    }
    .comment-reactions {
        display: flex;
        flex-wrap: wrap;
    }

    .comment-reaction,
    .reactions__button {
        margin-top: .26667rem;
        margin-right: .26667rem;
        background-color: #f5f5f5;
        border-radius: 6.66667rem;
        padding: 0.1rem 0.5rem;
        display: flex;
        align-items: center;
        border: 1px solid transparent;
        cursor: pointer;

        &:hover {
            border-color: $dark-gray;
        }
    }

    .comment-reaction {
        background-color: #f5f5f5;
        border-radius: 6.66667rem;
        padding: 0.1rem 0.5rem;
        height: 1.6rem;
        font-size: .8rem;
        line-height: .8rem;
        display: flex;
        align-items: center;
        border: 1px solid transparent;
        cursor: pointer;

        * {
            pointer-events: none;
        }

        .emoji {
            height: 1rem;
            width: 1rem;
        }

        span + span {
            padding-left: .26667rem;
            font-size: .8rem;
        }

        &[data-own-reaction="true"] {
            border-color: #3f729b;
            background-color: #def1ff;

            &:hover {
                border-color: #3f729b;
            }
        }

        // if this is on the .reactions-button as well, then the dropdown click
        // anywhere to close functionality breaks.
        &:active {
            transform: scale(0.9);
        }
    }

    .reaction-controls {
        position: relative;
        display: flex;
        align-items: center;
    }
    .add-reaction-svg {
        position: relative;
        display: flex;

        &::before {
        content: '+';
        pointer-events: none;
        position: absolute;
        right: -.46667rem;
        top: .2rem;
        font-size: .8rem;
        background-color: white;
        border-radius: 6.66667rem;
        padding: 0 0.1rem;
        line-height: .8rem;
        font-weight: 600;
        text-align: center;
        }
    }
    .reactions__button {
        color: $dark-gray;
        height: 100%;
        padding-right: 0.7rem;
    }
    .reactions__button[open]::before {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 8;
        display: block;
        cursor: default;
        content: " ";
        background: transparent;
    }
    .reactions__dropdown {
        width: 14.3334rem;
        left: 0.53334rem;
        bottom: 2.33334rem;
        z-index: 9;
        border-radius: .4rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
        transform: translate(-1.33334rem, 0.33334rem);

        &::after {
            content: '';
            position: absolute;
            bottom: -0.9333333333rem;
            left: 1.33334rem;
            border: 0.46667rem solid transparent;
            border-top: 0.46667rem solid white;
        }
        &::before {
            content: '';
            position: absolute;
            bottom: -1.0666666667rem;
            left: 1.266667rem;
            border: 0.5333rem solid transparent;
            border-top: 0.5333rem solid #cacaca;
        }
    }
    .add-reaction {
        margin: 0 0.2rem;
    }
    .add-reaction:hover {
        transform: scale(1.2);
        transition: all 0.1s ease;
    }

    .comment-controls {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .edit-comment-controls {
        margin-right:  .66667rem;
        margin-top: .26667rem;
    }

    .comment-bubble, .comment-controls {
        text-align: left;
        padding: 0;
        padding-left: 1rem;
        margin: 0;
        margin-left: 2em;
    }

    html[dir='rtl'] .comment-bubble, html[dir='rtl'] .comment-controls {
        text-align: right;
        padding: 0;
        padding-right: 1rem;
        margin: 0;
        margin-right: 2em;
    }

    .comment-date {
        text-align: right;
        margin-right: 1.33334rem;
        font-size:.8rem;
    }

    .translation-bubble {
        border: 0;
        border-left: .133334rem solid $dark-gray;
        padding-left: 1em;
        margin: 0 0 0 2em;
    }

    .translate-button {
        font-size: .8em;
        padding: 0 0 0 1rem;
        margin: 0 0 0 2em;
    }

    html[dir='rtl'] {
        .translation-bubble {
            border: 0;
            border-right: .133334rem solid $dark-gray;
            padding-right: 1em;
            margin: 0 2em 0 0;
        }
        .translate-button {
            padding: 0 1rem 0 0;
            margin: 0 2em 0 0;
        }
    }

    .activity-block {
        margin-top: 1rem;
    }

    .activity-bubble {
        word-wrap: break-word;
        color:gray;
        font-style: italic;
        border-inline-start: .2rem solid gainsboro;
        padding-inline-start: 1rem;
        margin: 0;
        margin-inline-start: 2em;
        padding-bottom: .133334rem;
    }

    .revert-activity {
        float: right;
    }
    .revert-arrow-img {
        height: 1.133334rem;
        padding-top: .133334rem;

        margin-right: 1rem;
    }


    //add a loading spinner when searching for contacts
    .mentions-input-box textarea.loading-gif {
        background:url('../../../dt-assets/images/ajax-loader.gif') no-repeat 99% .4rem;
    }
    //make sure the blue boxes around the @mentions in the textarea are the right sizes
    .mentions-input-box .mentions strong span {
        font-weight: 300;
    }

    #add-comment-section {
        border: 1px solid #dcdcdc;
        border-radius: .2rem;
        margin: 0 0 01.06667rem;
        textarea,  select {
            margin-bottom: 0;
            border: none;
        }
        select {
            box-shadow: none;
        }
        .section-subheader {
            padding-top: .53333rem;
            padding-left: .5rem;
            padding-right: .15rem;
        }
    }
}

.display-fields {
    margin-top:1.33334rem;
    ul {
        list-style-type: none;
        margin-left: 0;
    }
    img {
        height: 1rem;
    }
}

#details-tile {
    .detail-snippet-row {
        display: flex;
        flex-wrap: wrap;
    }
    .detail-snippet {
        display:none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 1rem;
        margin-bottom: .33334rem;
        img {
            margin-right: .2rem;
            vertical-align: middle;
            height: 1rem;
            width: 1rem;
        }
        .snippet-field-name {
            font-size: small;
        }
    }
    @media screen and (max-width : #{map-get($breakpoints, medium)}) {
        .detail-snippet {
            max-width: 100%;
        }
    }
}

#show-details-edit-button {
    text-align: center;
    background-color:rgb(236, 245, 252);
    margin: 0.2rem -1rem -1rem -1rem;
    border-radius: 0 0 0.6667rem 0.6667rem;
    a.button {
        margin:0;
        padding:0.2rem 0;
        width:100%;
    }
}

html[dir="rtl"] {
    .input-group-field {
        text-align: right;
    }
}


/**
Groups
**/

.group-progress-button-wrapper {
    text-align: center;
    flex: 1 0 5.33334rem;
}

.group-progress-button {
    text-align:center;
    padding: .66667rem;
    background-color:$primary-color;
    border-radius:5px;
    height:4rem;
    width:4.3334rem;
}


.members-section {
    border: 1px solid #ccc;
    #empty-members-list-message {
        padding:  .66667rem .66667rem;
    }
    .member-row {
        padding:  .66667rem .66667rem;
        display: flex;
        &:hover {
            background-color: rgba(204, 204, 204, 0.5);
        }
        .member-row-actions {
            margin: 0;
            padding: 0 .33334rem;
            color: grey;
        }
        i {
            padding: 0 .133334rem;
        }
        .dt-icon {
            vertical-align: text-top;
            margin-right: .33334rem;
        }
    }
}
.members-header {
    button {
        height: 2.4rem;
        width: max-content;
        border: 1px solid #ccc;
        vertical-align: bottom;
        border-bottom: .133334rem solid white;
        margin-bottom: -1px;
        padding: 0.33334rem  .66667rem;
        img {
            margin-left: .133334rem;
        }
    }
}



.detail-notification-box {
    border: none;
    color: white;
    text-align: center;
    &.red {
        background-color:#F43636;
    }
    &.blue {
        background-color: #3F729B;
    }
    &.black {
        background-color: #333;
    }
    h4 {
        font-weight: bold;
    }
    img {
        margin: 0 .66667rem;
    }
}

.accept-contact .bordered-box{
    background-color: #3F729B;
    .accept-button {
        background-color: #4CAF50;
    }
    .decline-button {
        background-color: #F43636;
    }
    .button {
        margin: 0  .66667rem;
    }
}

select.color-select {
    color: white;
    font-weight: bold;
    border-radius:  .66667rem;
    option {
        background-color: white;
        color: black;
    }
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: white'></polygon></svg>");
    border:none;
    text-shadow: rgba(0, 0, 0, 0.45) 0 0 6px;
}



.bordered-box{
    .section-header {
        display: flex;
    }
    .section-chevron {
        margin-inline-start:auto;
        margin-inline-end:0;
        img {
            vertical-align: middle;
            width:0.9em;
        }
    }
    .chevron_down {
        display: none;
    }

    &.collapsed {
        .chevron_up {
            display: none;
        }
        .chevron_down {
            display: block;
        }
        .section-body {
            display: none;
        }
    }

}

//don't have typeaheads cover other elements
.typeahead__query {
    z-index: 1 !important;
}

.assigned-to-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .status-square {
        height: .8em;
        width: .8em;
        display: inline-block;
        border-radius: .133334rem;
    }
    > span {
        margin-right:  .66667rem;
    }
}

#tasks-modal {
  .existing-task-action {
    font-size:  .8rem;
    color: $primary-color;
    margin: 0 .33334rem;
  }
}


.details-second-bar {
    span { font-size: .8rem; }
    button, a {
        font-size: .8rem;
    }
    .title {
        font-size: 1rem;
    }
    .record-name-tagline {
        font-size:  .8rem;
        display: inline-block;
        span, a {
            font-size:  .8rem;
        }
    }
}

//user select field
.dt_user_select {
    margin-bottom: 1rem;
}
