@import "list_actions";

#content.archive-template {
    max-width: 100%;
    #inner-content {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        #list-actions { display: none; }
    }
    @media screen and (min-width : #{map-get($breakpoints, large)}) {
        #inner-content {
            //align-content: flex-start;
            padding: 1.5rem 1rem;
            display: grid;
            grid-template-columns: 1fr 3fr 0fr;
            margin-inline: 0rem -1rem; /* account for doubled gap because of 0-width column */
            transition: grid-template-columns 0.5s ease-in-out, margin 0.5s ease-in-out;
            gap: 1rem;

            &:has(.list_action_section[style*="display: block"]),
            &.show-actions {
                grid-template-columns: 0fr 3fr 1fr;
                margin-inline: -1rem 0;

                #list-filters {
                    & > * { opacity: 0; display: none; }
                }
                #list-actions > * { opacity: 1; display: block; }
            }

            main { min-width: 0; }

            #list-filters,
            #list-actions {
                overflow: hidden;
                padding: 0 3px; /* allow space for shadow */
                & > * {
                    transition: opacity 0.5s ease-in-out, display 0.5s step-end; /* Use step-end for display to flip at the end */
                    transition-behavior: allow-discrete;
                    min-width: 15vw; /* 5fr is 20vw, minus some gap */
                }
            }
            #list-filters > * { opacity: 1; display: block; }
            #list-actions {
                display: block;
                & > * { opacity: 0; display: none; }
            }

        }
    }
}


#list-filters {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    @media screen and (max-width : #{map-get($breakpoints, large)-1}) {
        /** Mobile Layout **/
        #tile-list-exports { display: none; }
    }
}

.filter {
    border-top: 1px #E2E2E2 solid;
    border-bottom: 1px #E2E2E2 solid;
    padding: 0 $bordered-box-padding 10px $bordered-box-padding;
    margin: 0 (-1 * $bordered-box-padding);
    width: calc(100% + 2 * #{$bordered-box-padding});
}

.filter--closed {
    padding-bottom: 0;
}

.filter__title:hover {
    color: #2196f3;
}

.filter__title:before {
    content: "▼";
    float: right;
}

.filter--closed .filter__title:before {
    content: "▶";
    float: right;
}

.filter--closed :not(.filter__title) {
    display: none;
}

.filter__title {
    cursor: pointer;
}

.filter input, .list-views input {
    margin: 0 0.2rem 0 0;
}

.typeahead__query.disabled {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 100;
    }
}

.filter label:hover, .list-views label:hover {
    color: #2196f3;
}

.list-views {
    margin-bottom: 0.5rem;
}

.list-views__sub {
    margin-left: 20px;
}


.list-view {
    cursor: pointer;
    display: flex;
    column-gap: 0.2rem;
}

.list-view__count {
    float: right;
}

.list-view__text, .filter-list-name {
    text-overflow: ellipsis;
    flex-grow: 1;
    display: inline-block;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.js-filter-checkbox-label {
    cursor: pointer;
    display: flex;
    column-gap: 0.2rem;
}

.priorities-show-all {
    float: right;
    & > span {
        font-size: 60%;
    }
}

#records-table th {
  cursor: pointer;
}

#list-filter-tabs {
    margin-top: 10px;
    .is-active a {
        background-color: #3f729b;
        color:white;
        &:focus {
            background-color: #3f729b;
            color: white;
        }
    }
    .accordion-title {
        font-size: inherit;
        font-weight: bold;
        .tab-count-span {
            font-weight: 100;
            font-size: 12px;
        }
        padding: 0.75rem 1rem;
    }
}

.list-header {
    display: grid;
    column-gap: 1rem;
    grid-template:
        "title loading . sort options"
        "count count archived archived archived" auto / auto auto 1fr auto auto;

    .section-header { grid-area: title; }
    #list-loading { grid-area: loading; padding-inline: 1rem; }
    #sort-menu { grid-area: sort; }
    #more-menu { grid-area: options; }
    .filter-result-text { grid-area: count; font-size: 0.75rem; }
    #archived-switch { grid-area: archived; text-align: end; }

    #sort-menu, #more-menu {
        .dropdown.menu > li.is-dropdown-submenu-parent > a {
            padding: 0.5rem 0;
            display: flex;
            align-items: center;
            gap: 5px;

            .menu-label { display: inline; }
            .mdi { font-size: 1.5rem; }
            &:after { display: none; }
        }
    }
}

.show-closed-switch {
    display: inline-block;
    .switch {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
}

table.table-remove-top-border thead {
    border-top: 0;
}
table.js-list {
    table-layout: auto;
    word-wrap: break-word;
    width: 100%;
    white-space: nowrap;

    tbody {
        tr {
            cursor: pointer;
            ul {
                list-style: none;
                margin:0;
            }
        }
        tr:hover{
            background-color: #ecf5fc
        }
    }

    tr {
        -webkit-transform: translateZ(0px)
    }

    td, th {
        .field-label { display: none; }
    }

    [data-id="name"] {
        position: sticky;
        left: 46px;
        background-color: inherit;
        z-index: 101;
        &:is(th) {
            background-color: #ffffff;
        }
    }

    [data-id="record_picture"] {
        position: sticky;
        left: -1px;
        background-color: inherit;
        &:is(th) {
            background-color: #ffffff;
        }
    }
    img.list-image {
        width: 32px;
        height: 32px;
        object-fit: cover;
        min-width: 32px;
        vertical-align: middle;
        border-radius: 5px;
    }
    i.list-image {
        font-size: 32px;
        opacity: 0.125;
    }
}
@media screen and (min-width : #{map-get($breakpoints, large)}) {
    /** Desktop Layout **/
    .table-container {
        overflow-y: auto;
        /* Rotate this and then the child opposite to get horizontal scrollbar on top */
        transform: rotateX(180deg);
    }
    .list-header {
        grid-template:
            "title loading archived sort options ."
            "count count . . . ." auto / auto auto auto auto auto 1fr;
        #archived-switch {
            text-align: start;
            align-self: center;
        }
    }
    table.js-list {
        transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg) translateZ(0px);

        tbody tr ul {
            max-height: 100px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            li {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        td {
            max-width: 250px;
        }
    }
}

@media screen and (max-width : #{map-get($breakpoints, large)-1}) {
    /** Mobile Layout **/
    .table-container {
        margin-inline: -15px;
    }
    table, thead, tbody { display: block; }
    tbody { border-inline: none; }

    table.js-list tr {
        padding: 1rem;
        display: grid;
        grid-template-columns: 30px 1fr 2fr 30px;
        gap: 0.1rem 1rem;
        align-items: center;
        grid-template:
          "img name name favorite" auto / 30px 1fr 2fr 30px;

        td {
            padding: 0;
            display: contents;

            .field-label, .field-value {
                align-self: baseline;
                body.rtl &,
                body.rtl & ul {
                    direction: rtl;
                }
            }
            .field-label {
                display: block;
                grid-column: 1 / 3;
                font-size: 0.75rem;
            }
            .field-value {
                grid-column: 3 / 5;
                ul { white-space: normal; }
                li {
                    display: inline;

                    &:not(:last-child)::after {
                        content: ", ";
                    }
                }
            }

            /* Hide fields with empty value to save space */
            &:has(.field-value ul:empty) {
                display: none;
            }
        }

        [data-id="record_picture"],
        [data-id="name"],
        [data-id="favorite"] {
            display: block;
            margin-block-end: 0.5rem;
            .field-label { display: none; }
        }

        [data-id="record_picture"] {
            grid-area: img;
            order: -3;
        }
        [data-id="name"] {
            grid-column: 2 / 4;
            grid-area: name;
            order: -2;
            font-size: 1.25rem;
            font-weight: 400;
        }
        [data-id="favorite"] {
            grid-area: favorite;
            order: -1;
        }

        /* Optional future expand/collapse UI */
        &.collapsed {
            grid-auto-rows: 0fr;

            td:not([data-id="record_picture"]):not([data-id="name"]):not([data-id="favorite"]) {
                .field-label, .field-value {
                    display: none;
                }
            }
        }
    }

}

.current-filter-list {
    font-size: 0.875rem;
    position: relative;
    background: #ecf5fc;
    border: 1px solid #c2e0ff;
    padding: 4px 0px 4px 4px;
    border-radius: 2px;
    margin-right: 4px;
    margin-bottom: 0.375rem;
}

.current-filter-list-close {
    cursor: pointer;
    font-weight: 300;
    font-family: Arial, sans-serif;
    margin-left: 5px;
    border-left: 1px solid #c2e0ff;
    padding: 7px 5px;
}

.current-filter-list-close:hover {
    background: #c2e0ff;
    color: #ffffff;
}

.current-filter-list-excluded {
    font-size: 0.875rem;
    position: relative;
    background: #fcecec;
    border: 1px solid #ffc2c2;
    padding: 4px 0px 4px 4px;
    border-radius: 2px;
    margin-right: 4px;
    margin-bottom: 0.375rem;

    .current-filter-list-close {
        border-left: 1px solid #ffc2c2;
    }

    .current-filter-list-close:hover {
        background: #ffc2c2;
        color: #ffffff;
    }
}

.current-filter {
    font-size: 0.875rem;
    position: relative;
    background: #ecf5fc;
    border: 1px solid #c2e0ff;
    padding: 4px 4px 4px 4px;
    border-radius: 2px;
    margin-right: 4px;
    margin-bottom: 0.375rem;
}

.current-filter-label-button {
    cursor: default;
    margin: 0px 0px 0px 4px;
    color: #000000;
}

.current-filter-label-button:hover {
    cursor: pointer;
    margin: 0px 0px 0px 4px;
    color: #cecece;
}

.current-filter-excluded {
    font-size: 0.875rem;
    position: relative;
    background: #fcecec;
    border: 1px solid #ffc2c2;
    padding: 4px 4px 4px 4px;
    border-radius: 2px;
    margin-right: 4px;
    margin-bottom: 0.375rem;
}

#content table thead .sortable th {
    background-repeat: no-repeat;
    background-position: center right;
    padding-right:1.5rem;
    background-image: url("../../../dt-assets/images/sort_both.png")
}

#content table thead .sortable .sorting_desc {
    background-image: url("../../../dt-assets/images/sort_desc.png")
}
#content table thead .sortable .sorting_asc {
    background-image: url("../../../dt-assets/images/sort_asc.png")
}



#filter-modal {
    padding:10px 0 0 0;
    .tabs-title > a {
        padding: 1.25rem 0 1.25rem 15px;
        display: flex;
        align-items: center;
    }
    .tabs-title__icon {
        width: 1.2rem;
        margin-right: 0.7rem;
        height:1rem;
    }
    h3 {
        margin-left: 10px;
    }
    .vertical.tabs {
        border:none;
        background-color: #3F729B;
        .tabs-title>a {
            color: white;
        }
        .tabs-title>a:hover {
            background-color: #224F72;
        }
        .tabs-title>a:focus, .tabs-title>a[aria-selected=true] {
            background-color: #224F72;
            color: white;
        }
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .tabs-content {

        min-height:400px;
    }
    .filter-modal-left {
        background-color: #3F729B;
    }
    .filter-modal-right {
        background-color: #F2F2F2;
        border: none;
    }
    .button-cancel {
        background-color: #F2F2F2;
        color: black;
        margin: 5px 0 5px 0;
    }
    .confirm-buttons {
        text-align: end;
    }
    .grid-container {
        padding: 0
    }

    #new-filter-name {
        margin: 5px 0 5px 0;
    }

    .confirm-filter-records {
        margin: 5px 0 5px 0;
    }
}

.icon-star {
    height: 1em;
    width: 1em;
    fill: hsl(45, 5%, 77%);
    &.selected {
        fill: hsl(45, 100%, 51%);
    }
}

.dt-radio.button-group label {
    background-color: transparent;
    color: #000000;
    display: inline;
    padding: 0px 20px 0px 5px;
}

.small-text {
    font-size: .8rem;
}

.list-dropdown-submenu-icon {
    width: 15px;
    height: 15px;
    margin-right: 6px;
    vertical-align: bottom;
}
