@import "list_actions";
@import "list_filters";

/* === General Page Layout === */
#content.archive-template {
    max-width: 100%;
    #inner-content {
        --grid-gap: 0.75rem;
        padding: var(--grid-gap) 0.33rem;
        display: grid;
        grid-template-areas: "filters"
            "actions"
            "list";
        grid-template-columns: 1fr;
        grid-template-rows: min-content 0fr max-content;
        transition: grid-template-columns 0.5s ease-in-out,
            grid-template-rows 0.5s ease-in-out,
            margin 0.5s ease-in-out;

        /* General Column/Row layout - Mobile First */
        #list-filters { grid-area: filters; }
        main { grid-area: list; }
        #list-actions { grid-area: actions; }

        #list-filters,
        #list-actions {
            overflow: hidden;
            padding: 3px; /* allow space for shadow */
            margin: -3px;
            & > * {
                transition: opacity 0.5s ease-in-out, display 0.5s step-end; /* Use step-end for display to flip at the end */
                transition-behavior: allow-discrete;
                min-height: 60px; /* Don't squeeze height down to zero. Clip overflow at 100px. */
            }
        }

        /* Action mode */
        &:has(.list_action_section[style*="display: block"]),
        &.show-actions {
            grid-template-rows: 0fr 1fr max-content;

            #list-filters {
                overflow-y: hidden;
                & > * { opacity: 0; display: none; }
            }
            #list-actions > * { opacity: 1; display: block; }
        }

        /* Default mode (filters) */
        #list-filters > *:not(template) { opacity: 1; display: block; }
        #list-actions {
            overflow-y: hidden;
            & > * { opacity: 0; display: none; }
        }
    }

    .create-post-mobile {
        position: fixed;
        inset-inline-end: 1rem;
        inset-block-end: 1rem;
        z-index: 1;
        min-width: 3rem;
        min-height: 3rem;
        border-radius: 50%;
        aspect-ratio: 1;
        img {
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    @media screen and (min-width : #{map-get($breakpoints, medium)}) {
        /* Tablet */
        #inner-content {
            gap: var(--grid-gap);
            padding: var(--grid-gap);
        }
        .create-post-mobile { display: none;}
    }
    @media screen and (min-width : #{map-get($breakpoints, large)}) {
        /* Desktop: move list-actions to right of screen */
        #inner-content {
            --grid-gap: 1rem;
            grid-template-areas: "filters list actions";
            grid-template-columns: 1fr 3fr 0fr;
            grid-template-rows: 1fr;
            margin-inline: 0rem calc(var(--grid-gap) * -1); /* account for doubled gap because of 0-width column */
            gap: var(--grid-gap);

            &:has(.list_action_section[style*="display: block"]),
            &.show-actions {
                grid-template-columns: 0fr 3fr 3fr;
                margin-inline: calc(var(--grid-gap) * -1) 0;

                #list-filters {
                    & > * { opacity: 0; display: none; }
                }
                #list-actions > * { opacity: 1; display: block; }
            }

            #main { min-width: 0; margin-block-start: 0; }

            #list-filters,
            #list-actions {
                & > * {
                    min-width: 15vw; /* Don't squeeze width down to zero. Clip overflow at 15vw. */
                }
            }
        }
    }
    @media screen and (min-width : #{map-get($breakpoints, xxlarge)}) {
        #inner-content {
            grid-template-columns: 1fr 5fr 0fr;
            &:has(.list_action_section[style*="display: block"]),
            &.show-actions {
                grid-template-columns: 1fr 3fr 2fr;
                margin-inline: 0;

                #list-filters {
                    & > * { opacity: 1; display: block; }
                }
            }
        }
    }
}

.js-filter-checkbox-label {
    cursor: pointer;
    display: flex;
    column-gap: 0.2rem;
}

/* Orphaned code. This seems outdated as of 2025-10-15
.priorities-show-all {
    float: right;
    & > span {
        font-size: 60%;
    }
}*/

/* === Secondary Nav === */
.search-wrapper {
    display: inline-flex;
    max-height: 30px;
    transform: translateY(1px);

    .text-input-wrapper {
        position: relative;
        display: inline-flex;
        width: 200px;

        input {
            padding: 0.4em 0.75em;
            padding-inline-end: 1.75rem;
            max-width: 200px;
            margin: 0 !important;
            font: inherit;
            height: 100%;
            margin-right: 0;
            display: inline-block;
        }

        .search-input__clear-button {
            position: absolute;
            inset-inline-end: 0;
            inset-block: 0;
            width: 1.75rem;
            align-items: center;
            justify-content: center;
            opacity: 0.5;
            cursor: pointer;
            display: none;
        }

        input:not(:placeholder-shown) + .search-input__clear-button {
            display: flex;
        }
    }

    .search-addon {
        transform: none;
        border: 1px solid #cacaca;
        border-inline-start: 0;
        padding: .15em .5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
nav.second-bar.show-for-small-only {
    .search-wrapper, .text-input-wrapper {
        height: 3rem;
        flex-grow: 1;
    }
    .search-wrapper {
        max-height: none;
        transform: none; // reset translateY
        .text-input-wrapper input {
            max-width: none;
            max-height: none;
            padding-inline-end: 2.5rem;
        }
        .search-input__clear-button {
            font-size: 2rem;
            width: 2.5rem;
        }
        .search-addon {
            img {
                height: 20px;
                width: 20px;
            }
        }
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 3em;

        &.icon-button i {
            font-size: 20px;
        }
    }
}

/* === List Layout */
#records-table th {
  cursor: pointer;
}

.list-header {
    display: grid;
    column-gap: 1rem;
    grid-template:
        "title loading . sort options"
        "count count archived archived archived" auto / auto auto 1fr auto auto;

    .section-header { grid-area: title; }
    #list-loading { grid-area: loading; padding-inline: 1rem; }
    #sort-menu { grid-area: sort; }
    #more-menu { grid-area: options; }
    .filter-result-text { grid-area: count; font-size: 0.75rem; }
    #archived-switch { grid-area: archived; text-align: end; }

    #sort-menu, #more-menu {
        .dropdown.menu > li.is-dropdown-submenu-parent > a {
            padding: 0.5rem 0;
            display: flex;
            align-items: center;
            gap: 5px;

            .menu-label { display: inline; }
            .mdi { font-size: 1.5rem; }
            &:after { display: none; }
        }
    }
}

.show-closed-switch {
    display: inline-block;
    .switch {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
}

.list-dropdown-submenu-icon {
    width: 15px;
    height: 15px;
    margin-right: 6px;
    vertical-align: bottom;
}

table.js-list {
    table-layout: auto;
    word-wrap: break-word;
    width: 100%;
    white-space: nowrap;

    &.table-remove-top-border thead { border-top: 0; }

    thead .sortable {
        th {
            background-repeat: no-repeat;
            background-position: center right;
            padding-right:1.5rem;
            background-image: url("../../../dt-assets/images/sort_both.png")
        }
        .sorting_desc { background-image: url("../../../dt-assets/images/sort_desc.png"); }
        .sorting_asc { background-image: url("../../../dt-assets/images/sort_asc.png"); }
    }

    tbody {
        tr {
            cursor: pointer;
            ul {
                list-style: none;
                margin:0;
            }
        }
        tr:hover{
            background-color: #ecf5fc
        }
    }

    tr {
        -webkit-transform: translateZ(0px)
    }

    td, th {
        .field-label { display: none; }
    }

    [data-id="name"] {
        position: sticky;
        left: 46px;
        background-color: inherit;
        z-index: 101;
        &:is(th) {
            background-color: #ffffff;
        }
    }

    [data-id="record_picture"] {
        position: sticky;
        left: -1px;
        background-color: inherit;
        &:is(th) {
            background-color: #ffffff;
        }
    }
    img.list-image {
        width: 32px;
        height: 32px;
        object-fit: cover;
        min-width: 32px;
        vertical-align: middle;
        border-radius: 5px;
    }
    i.list-image {
        font-size: 32px;
        opacity: 0.125;
    }
}

@media screen and (min-width : #{map-get($breakpoints, large)}) {
    /** Desktop Layout **/
    .table-container {
        overflow-y: auto;
        /* Rotate this and then the child opposite to get horizontal scrollbar on top */
        transform: rotateX(180deg);
    }
    .list-header {
        grid-template:
            "title loading archived sort options ."
            "count count . . . ." auto / auto auto auto auto auto 1fr;
        #archived-switch {
            text-align: start;
            align-self: center;
        }
    }
    table.js-list {
        transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg) translateZ(0px);

        tbody tr ul {
            max-height: 100px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            li {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        td {
            max-width: 250px;
        }
    }
}

@media screen and (max-width : #{map-get($breakpoints, large)-1}) {
    /** Mobile Layout **/
    .table-container {
        margin-inline: -15px;
    }
    table, thead, tbody { display: block; }
    tbody { border-inline: none; }

    table.js-list tr {
        padding: 1rem;
        display: grid;
        grid-template-columns: 30px 1fr 2fr 30px;
        gap: 0.1rem 1rem;
        align-items: center;
        grid-template:
          "img name name favorite" auto / 30px 1fr 2fr 30px;

        td {
            padding: 0;
            display: contents;

            .field-label, .field-value {
                align-self: baseline;
                body.rtl &,
                body.rtl & ul {
                    direction: rtl;
                }
            }
            .field-label {
                display: block;
                grid-column: 1 / 3;
                font-size: 0.75rem;
            }
            .field-value {
                grid-column: 3 / 5;
                ul { white-space: normal; }
                li {
                    display: inline;

                    &:not(:last-child)::after {
                        content: ", ";
                    }
                }
            }

            /* Hide fields with empty value to save space */
            &:has(.field-value ul:empty) {
                display: none;
            }
        }

        [data-id="record_picture"],
        [data-id="name"],
        [data-id="favorite"] {
            display: block;
            margin-block-end: 0.5rem;
            .field-label { display: none; }
        }

        [data-id="record_picture"] {
            grid-area: img;
            order: -3;
        }
        [data-id="name"] {
            grid-column: 2 / 4;
            grid-area: name;
            order: -2;
            font-size: 1.25rem;
            font-weight: 400;
        }
        [data-id="favorite"] {
            grid-area: favorite;
            order: -1;
        }

        /* Optional future expand/collapse UI */
        &.collapsed {
            grid-auto-rows: 0fr;

            td:not([data-id="record_picture"]):not([data-id="name"]):not([data-id="favorite"]) {
                .field-label, .field-value {
                    display: none;
                }
            }
        }
    }

}

/* === Current Filters === */
.current-filter-list {
    font-size: 0.875rem;
    position: relative;
    background: #ecf5fc;
    border: 1px solid #c2e0ff;
    padding: 4px 0px 4px 4px;
    border-radius: 2px;
    margin-right: 4px;
    margin-bottom: 0.375rem;

    .current-filter-list-close {
        cursor: pointer;
        font-weight: 300;
        font-family: Arial, sans-serif;
        margin-left: 5px;
        border-left: 1px solid #c2e0ff;
        padding: 7px 5px;

        &:hover {
            background: #c2e0ff;
            color: #ffffff;
        }
    }

    &.current-filter-list-excluded {
        font-size: 0.875rem;
        position: relative;
        background: #fcecec;
        border: 1px solid #ffc2c2;
        padding: 4px 0px 4px 4px;
        border-radius: 2px;
        margin-right: 4px;
        margin-bottom: 0.375rem;

        .current-filter-list-close {
            border-left: 1px solid #ffc2c2;

            &:hover {
                background: #ffc2c2;
                color: #ffffff;
            }
        }
    }
}

/* === Custom Filter Modal === */
.current-filter {
    font-size: 0.875rem;
    position: relative;
    background: #ecf5fc;
    border: 1px solid #c2e0ff;
    padding: 4px 4px 4px 4px;
    border-radius: 2px;
    margin-right: 4px;
    margin-bottom: 0.375rem;

    .current-filter-label-button {
        cursor: default;
        margin: 0px 0px 0px 4px;
        color: #000000;

        &:hover {
            cursor: pointer;
            margin: 0px 0px 0px 4px;
            color: #cecece;
        }
    }

    &.current-filter-excluded {
        font-size: 0.875rem;
        position: relative;
        background: #fcecec;
        border: 1px solid #ffc2c2;
        padding: 4px 4px 4px 4px;
        border-radius: 2px;
        margin-right: 4px;
        margin-bottom: 0.375rem;
    }
}

#filter-modal {
    padding:10px 0 0 0;
    .tabs-title > a {
        padding: 1.25rem 0 1.25rem 15px;
        display: flex;
        align-items: center;
    }
    .tabs-title__icon {
        width: 1.2rem;
        margin-right: 0.7rem;
        height:1rem;
    }
    h3 {
        margin-left: 10px;
    }
    .vertical.tabs {
        border:none;
        background-color: #3F729B;
        .tabs-title>a {
            color: white;
        }
        .tabs-title>a:hover {
            background-color: #224F72;
        }
        .tabs-title>a:focus, .tabs-title>a[aria-selected=true] {
            background-color: #224F72;
            color: white;
        }
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .tabs-content {

        min-height:400px;
    }
    .filter-modal-left {
        background-color: #3F729B;
    }
    .filter-modal-right {
        background-color: #F2F2F2;
        border: none;
    }
    .button-cancel {
        background-color: #F2F2F2;
        color: black;
        margin: 5px 0 5px 0;
    }
    .confirm-buttons {
        text-align: end;
    }
    .grid-container {
        padding: 0
    }

    #new-filter-name {
        margin: 5px 0 5px 0;
    }

    .confirm-filter-records {
        margin: 5px 0 5px 0;
    }
}

/* === Misc === */
.icon-star {
    height: 1em;
    width: 1em;
    fill: hsl(45, 5%, 77%);
    &.selected {
        fill: hsl(45, 100%, 51%);
    }
}
