#map-wrapper {
    position: relative;
    height: 53.33334rem;
    width:100%;
}
#map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width:100%;
    height: 53.33334rem;
}
#legend {
    position: absolute;
    top: 0.66667rem;
    left: 0.66667rem;
    right: 0.66667rem;
    z-index: 2;
}
#data {
    word-wrap: break-word;
}
.legend {
    background-color: #fff;
    border-radius: 0.2rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10);
    font: .8rem/1.33334rem 'Roboto', Arial, sans-serif;
    padding: 0.66667rem;
    opacity: .9;
}
.legend h4 {
    margin: 0 0 0.66667rem;
}

#spinner {
    position: absolute;
    top:50%;
    left:50%;
    z-index: 20;
    display:none;
}
.spinner-image {
    width: 2rem;
}
.info-bar-font {
    font-size: 1.5em;
    padding-top: .6rem;
}
.border-left {
    border-left: 1px lightgray solid;
    padding: 0 0.66667rem 0 0.66667rem;
}
#geocode-details {
    position: absolute;
    top: 6.66667rem;
    right: 0.66667rem;
    z-index: 2;
}
.geocode-details {
    background-color: #fff;
    border-radius: 0.2rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10);
    font: .8rem/1.33334rem 'Roboto', Arial, sans-serif;
    padding: 0.66667rem;
    opacity: .9;
    width: 20rem;
    display:none;
}
.close-details {
    cursor:pointer;
}
#map-wrapper {
    #legend {
        img {
            height: 2rem;
            width: 2rem;
        }
        #map-type {
            padding: 0 0.66667rem 0 0.66667rem;
            button{
                margin-bottom: 0;
                padding: 0.13334rem;
            }
            button.selected-select-button {
                img {
                    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(180deg) brightness(109%) contrast(100%);
                }
            }
        }
        .map-option-buttons {
            button {
                margin: 0 0 0 0.2rem;
            }
        }
    }
}
