
.timechart {
    height: 400px;
}

.day-activities__title {
    background-color: #3f729b;
    color: white;
    padding: 0.1rem 0.3rem;
    font-size: 1.1rem;
}

.post-activities {
    margin-bottom: 0.5rem;
}

.post-activities__icon {
    color: #3f729b;
    margin-right: 0.1rem;
}

.post-activities__title {
    color: #3f729b;
    display: flex;
    justify-content: space-between;
}

.post-activities__item {
    padding-left: 1.4rem;
}

.post-activities__item--no-title {
    padding-left: 1.4rem;
    background-color: rgba(63,114,155,.19);
}

.activity__more-state,
.fields__more-state {
    display: none;
}

.fields__more-link, .fields__less-link {
    color: #3f729b;
    text-decoration: underline;
    display: inline;
    cursor: pointer;
    padding: 0 0.5rem;
}

.activity__less-link,
.fields__less-link {
    display: none;
}

.activity__more-details,
.fields__more-details {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.fields__more-state:checked {
    & ~ .fields__more-details {
        opacity: 1;
        font-size: inherit;
        max-height: 100em;
    }

    & ~ .fields__more-link {
        display: none;
    }

    & ~ .fields__less-link {
        display: inline;
    }
}

.activity__more-state:checked {
    & ~ .post-activities__item .activity__more-details {
        opacity: 1;
        font-size: inherit;
        max-height: 100em;
    }

    & + .post-activities__title .activity__more-link {
        display: none;
    }

    & + .post-activities__title .activity__less-link {
        display: inline;
    }
}