.map_wrapper {}
.map_header_wrapper {}
.section_title {
    font-size:2em;
}
.current_level {}
.map_chart {
    width: 100%;
    height: 100vh;
    vertical-align: text-top;
}
.map_hr {
    max-width:100%;
    margin: 10px 0;
}
.map_title_wrapper {
    text-align:right;
}
.child_list_container {
    overflow-y: scroll;
    height:500px;
    padding:0 .4em;
}
.minimap {
    height: 200px;
    margin-bottom: 20px;
}
.refresh_data {
    font-size:.8em;
    margin-left:20px;
}
#data_type_list {
flex-wrap: wrap;
margin-bottom: 20px;
}
#self_info {
    font-size: .8em;
}
@media screen and (max-width : 640px){
    .map_title_wrapper {
        text-align:center;
    }
    .minimap {
        display:none;
    }
    .map_chart_wrapper {
        margin-bottom: 20px;
    }
    .map_chart {
        width: 100%;
        max-height: 300px;
        height: 100vh;
        vertical-align: text-top;
    }
    .child_list_container {
        max-height: 300px;
        height: 100vh;
    }
    #self_info {
        font-size: .6em;
    }
}

/* loading spinner */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading-spinner.active {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: .25rem solid #919191;
    border-top-color: black;
    animation: spin 1s infinite linear;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

