/**
 * This style sheet is only loaded for admin pages and is used to configure the appearance of admin area.
 *
 * @package Disciple_Tools
 * @since 0.1.0
 */

/* These edits remove unwanted features of the contacts edit screen */
div#edit-slug-box.hide-if-no-js {
    display: none;
}

/* Removes Permalink preview link. */
/*div#minor-publishing {display:none;} *//* Removes contents of the Publish Metabox. */
div#message p a {
    display: none;
}

/* Removes the link to view to the post type on the portal page. */

div.edit-title-left {
    float: left;
    max-width: 33%;
    font-weight: 600;
    font-size: 1.05em;
    padding-top: 5px;
}

div.edit-field-right {
    float: right;
    max-width: 65%;
    padding-right: 10px;
}

.edit-input {
    width: 100%;
}

div.edit-row {
    width: 100%;
    padding: 10px;
    clear: both;
    display: table;
}

button.button-like-link {
    float: right;
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    div.edit-title-left {
        max-width: 100%;
    }

    div.edit-field-right {
        max-width: 100%;
    }

    div.edit-row {
        width: 100%;

    }

}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading-spinner.active {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: .25rem solid #919191;
    border-top-color: black;
    animation: spin 1s infinite linear;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.hide {
    display: none;
}
