/**
 * This style sheet is only loaded for admin pages and is used to configure the appearance of admin area.
 *
 * @package Disciple.Tools
 * @since 0.1.0
 */

/* These edits remove unwanted features of the contacts edit screen */
div#edit-slug-box.hide-if-no-js {
    display: none;
}

/* Removes Permalink preview link. */
/*div#minor-publishing {display:none;} *//* Removes contents of the Publish Metabox. */
div#message p a {
    display: none;
}

/* Removes the link to view to the post type on the portal page. */

div.edit-title-left {
    float: left;
    max-width: 33%;
    font-weight: 600;
    font-size: 1.05em;
    padding-top: 5px;
}

div.edit-field-right {
    float: right;
    max-width: 65%;
    padding-right: 10px;
}

.edit-input {
    width: 100%;
}

div.edit-row {
    width: 100%;
    padding: 10px;
    clear: both;
    display: table;
}

button.button-like-link {
    float: right;
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    cursor: pointer;
}

details.flyout {
    position: relative;
    width: 30px;
    margin: 0 0 0 auto;
}
details.flyout > nav {
    position: absolute;
    top: 0;
    right: 100%;
}

details.flyout > nav ul {
    border-radius: 5px;
    border: solid 1px #50575E;
    background-color: white;
    padding-top: 0px;
    margin: 0;
}

details.flyout > nav li:not(:last-child) {
    border-bottom: solid 1px #50575E;
}

details.flyout > nav li {
    margin-bottom: 0px;
}

details.flyout > nav a {
    display: block;
    padding: 5px;
    color: black;
}

details.flyout > nav a:hover {
    background-color: #F6F7F7;
}

details.flyout > summary:focus {
    outline: none;
}
details.flyout > summary::-webkit-details-marker {
    display: none;
}
details.flyout > summary {
    list-style: none;
    padding-right: 10px;
}

details.flyout .button {
    display: block;
    width: 100%;
    text-align: center;
}


[data-tooltip] {
    position: relative;
    cursor: help;
}


[data-tooltip]::after {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    content: attr(data-tooltip);
    left: 0;
    top: 0;
    border-radius: 4px;
    background-color: white;
    z-index: 10;
    padding: 8px;
    width: 300px;
    transition: all 150ms cubic-bezier(.25, .8, .25, 1);
    border: 1px solid #919191;
    color:black;
}

[data-tooltip]:hover::after {
    opacity: 1;
    transform: translateY(0);
    transition-duration: 300ms;
}

@media screen and (max-width: 600px) {
    div.edit-title-left {
        max-width: 100%;
    }

    div.edit-field-right {
        max-width: 100%;
    }

    div.edit-row {
        width: 100%;

    }

}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading-spinner.active {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: .25rem solid #919191;
    border-top-color: black;
    animation: spin 1s infinite linear;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.wizard_chevron_open {
    position: relative;
    width: 7px;
    height: 7px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform: rotate(45deg);
    margin: auto;
}
.wizard_chevron_close {
    position: relative;
    width: 7px;
    height: 7px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform: rotate(225deg);
    margin: auto;
}
.toggle_chevron{
    vertical-align: middle !important;
    cursor:pointer;
}
.wizard_description{
    position: relative;
    height: 200px;
}


/* Like notices, except they can be anywhere on the page */
.alert {
    background: #fff;
    border: 1px solid #c3c4c7;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    margin: 5px 15px 2px;
    padding: 1px 12px;
}

body .alert p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 2px;
}

.alert-warning {
    border-left-color: #dba617;
}

.alert-success {
    border-left-color: #00a32a;
}

.alert-error {
    border-left-color: #d63638;
}

/*
 * Icon Selector Dialog
 */

#dialog_icon_selector_filter_input {
    min-width: 715px;
    display: inline-block;
    margin-right: 0;
}

#dialog_icon_selector_icons_div {
    width: 715px;
    height: 430px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    padding-left: 0px;

}

#dialog_icon_selector_icons_table {
    border-collapse: separate;
    border-spacing: 40px 40px;
    padding-left: 0px;
}

.dialog-icon-selector-icon {
    font-size: 50px;
    margin: 10px 10px 10px 10px;
    opacity: 1;
    cursor: default;
}

.dialog-icon-selector-icon:hover {
    opacity: 0.25;
    cursor: pointer;
}

.dialog-icon-selector-icon-selected {
    font-size: 30px;
    margin: 10px 10px 10px 10px;
    opacity: 0.60;
    cursor: default;
}
