.menu-highlight {
    -webkit-animation: menu-highlight-fadeout 1s ease-in alternate;
    -moz-animation: menu-highlight-fadeout 1s ease-in alternate;
    animation: menu-highlight-fadeout 1s ease-in alternate;
}
@keyframes menu-highlight-fadeout {
    from { background: #3f729b; }
    to { background: #c2e0ff; }
}
.submenu-highlight {
    -webkit-animation: submenu-highlight-fadeout 1s ease-in alternate;
    -moz-animation: submenu-highlight-fadeout 1s ease-in alternate;
    animation: submenu-highlight-fadeout 1s ease-in alternate;
}
@keyframes submenu-highlight-fadeout {
    from { background: #3f729b; }
    to { background: #d3d3d3; }
}
#delete-text {
    width: 100%;
    color: #e14d43;
    text-decoration: none;
}
#delete-confirmation-container {
    display: contents;
    cursor: pointer;
}
.modal-box-title {
    text-align: left;
    margin-bottom: 28px;
}
.modal-translations-box-title{
    text-align: left;
    background: #e9e9e9;
}
.add-new-field-table {
    padding: 18px;
}
.add-new-field-table input:not([type='checkbox']) {
    width: 100%;
    height: 30px;
}
.add-new-field-table select {
    width: 100%;
    height: 18px;
}
.dt-admin-modal-overlay {
    width: 100%;
    height: 100%;
    background: #0000008C;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
}
.dt-admin-modal-box {
    z-index: 100001;
    perspective: 1000px;
}
.dt-admin-modal-box-inner {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
.flip-card {
    transform: rotateY(180deg);
}
.modal-front, .modal-back {
    position: absolute;
    width: auto;
    height: auto;
    min-width: 33%;
    background: #fefefe;
    border: 1px solid #cacaca;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.modal-back {
    transform: rotateY(180deg);
}
.dt-admin-modal-box-content {
    padding: 8px;
}
.tile-rundown-elements {
    margin-top: -1px;
}
.field-settings-table {
    display: table;
    min-width: 50%;
    margin: auto;
}
.field-settings-table-tile-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    border: 1px solid lightgray;
    background: #eaeaea;
    cursor: pointer;
    height: 32px;
    margin-top: -1px;
}
.field-settings-table-field-name {
    height: 32px;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    background: #f6f6f6;
    cursor: pointer;
    box-shadow: inset -5px 0px 5px -2px #0000001a;
    margin-top: -1px;
}
.field-settings-table-field-option {
    height: 26px;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    background: #fff;
    cursor: pointer;
    box-shadow: inset -5px 0px 5px -2px #0000001a;
    margin-top: -1px;
}
.field-name-content {
    vertical-align: sub;
    margin-left: 25px;
}
.field-settings-table-field-name {
    margin-left: 30px;
}
.field-settings-table-field-name.expandable {
    margin-left: 30px;
}
.field-settings-table-field-name.expandable .field-name-content{
    margin-left: 0px;
}

.field-settings-table-field-option {
    margin-left: 60px;
}

.field-settings-table-field-option .field-name-content {
    margin-left: 10px;
}
.add-new-item {
    padding-left: 10px;
}
.field-settings-table-child-toggle {
    display:none;
}
.inset-shadow {
    box-shadow: inset -5px 5px 5px -2px #0000001a;
}
.sortable {
    color: #000;
    margin: 0 8px 0 4px;
    cursor: pointer;
    vertical-align: -webkit-baseline-middle;
}
.expand-icon {
    vertical-align: sub;
    margin-right: 2px;
    padding-left: 8px;
    padding-right: 8px;
}
.edit-icon {
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%2350575e' d='M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: 8px;
}
.add-new-link {
    margin: 8px 0 0 8px;
}
.dt-admin-modal-box-close-button {
    text-align: right;
    color: #cacaca;
    font-weight: 200;
    font-size: 1.75rem;
    position: absolute;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
}
.dt-admin-modal-translations-box-close-button {
    text-align: right;
    color: #cacaca;
    font-weight: 200;
    font-size: 1.75rem;
    position: absolute;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
}
.modal-overlay-content-table, .modal-translations-overlay-content-table {
    margin: 6px 10px 10px 10px;
    line-height: 2.5;
    max-height: 75%;
}
.modal-translations-overlay-content-table {
    height: 40em;
    overflow: auto;
    justify-content: center;
    display: flex;
}
.translations-save-row {
    padding: 18px;
    text-align: right;
    border-top: 1px solid lightgray;
}
.fields-table-left {
    width: 50%;
    background: #f1f1f1;
}
.fields-table-right {
    background-color: #f1f1f1;
    max-width: 300px;
}
.field-container {
    width: 100%;
    margin-top: 0.5em;
    cursor: pointer;
}
.field-element {
    margin-left: 18px;
}
.field-icon {
    width: 30px;
    height: 30px;
    vertical-align: top;
}
.new-custom-field {
    display: block;
    width: auto;
    height: auto;
    display: none;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 3%;
    padding: 1rem;
    overflow: hidden;
    scroll-behavior: smooth;
}
.new-field-option {
    color: #0073aa;
    cursor: pointer;
}
.dt-tile-preview {
    width: auto;
    background-color: #fefefe;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
    padding: 1rem;
    margin: 3%;
}
.section-header {
    display: flex;
    color: #3f729b;
    font-size: 1.5rem;
    font-family: Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    margin-top: 0;
}
.section-body {
    width: 100%;
}
.dt-tile-preview .chevron {
    height:1.3rem;
    width:1.3rem;
    margin-inline-end: 0;
    margin-inline-start: auto;
}
.section-subheader {
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}
.dt-icon {
    height: 15px;
    width: 15px;
}
.lightgray {
    filter: invert(18%) sepia(0) saturate(19%) hue-rotate(170deg) brightness(108%) contrast(98%);
}
.button-group {
    position: relative;
    -webkit-box-align: stretch;
    -webkit-box-flex: 1;
    align-items: stretch;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    font-size: .75rem;
}
.button-group>button {
    font-size: .75rem;
    background-color: #eee;
    color: #000;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.85em 1em;
}
.typeahead-container {
    margin-bottom: 10px;
    width: 100%;
    min-height: 2.5rem;
    line-height: 1.5rem;
    display: inline-flex;
    position: relative;
}
.typeahead-input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 2px 0 0 2px;
    appearance: none;
    box-sizing: border-box;
    overflow: visible;
    padding-right: 32px;
}
.typeahead-button {
    color: #555;
    border: 1px solid #ccc;
    border-radius: 0 2px 2px 0;
    background-color: #fff;
    margin-left: -2px;
    z-index: 1;
    padding: 0.5rem 0.75rem;
    vertical-align: middle;
}
.typeahead-button>img{
    width: 20px;
    height: 20px;
    min-height: 15px;
    min-width: 15px;
}
.typeahead-cancel-button {
    height: 100%;
    position: absolute;
    right: 3rem;
    padding: 4px 6px !important;
    color: #555;
}
.typeahead-delete-button {
    height: 100%;
    position: absolute;
    right: 0;
    padding: 0.5rem 1.2rem;
    color: #cc4b37;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0 2px 2px 0;
}
.typeahead-delete-button:hover {
    background-color: #cc4b37;
    color: #fff;
}
.dt-tile-preview .select-field {
    width: 100%;
}
.select-field.color-select {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: white'></polygon></svg>");
    background-size: 9px 6px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #4caf50;
    text-shadow: rgb(0 0 0 / 45%) 0 0 6px;
}
.select-field.color-select:hover{
    color: #fff;
}
.select-field:hover{
    text-decoration: none;
    cursor: default;
}
select {
    background-repeat: no-repeat;
    margin-bottom: 1rem;
}
.dt-tile-preview .text-input{
    border: 1px solid #cacaca;
    border-radius: 0;
    display: block;
    line-height: 1.5;
    margin: 0 0 1rem;
    padding: 0.5rem;
    width:100%;
    box-shadow: inset 0 1px 2px hsl(0deg 0% 4% / 10%);
}
.top-nav-row {
    display: flex;
    justify-content: space-between;
}
.typeahead-div {
    min-width: 40%;
    padding: 18px 18px 0 0;
}
.tab-content {
    padding: 12px;
}
.typeahead__container {
    position: absolute;
    min-width: 40%;
}
.typeahead__result {
    background-color: #fff;
    border: 1px solid #555;
}
.typeahead__item>a{
    color: #000;
    font-size: medium;
    font-weight: normal;
    margin: 12px;
}
.typeahead__display {
    line-height: 2.25em;
}
.js-typeahead-settings {
    width: 100%;
    height: 3em;
    padding-left: 12px;
}
